<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="Kişisel Dil Kartlarım"
        android:roundIcon="@android:mipmap/sym_def_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.KelimeQuiz">
        
        <!-- Dashboard (Ana Ekran) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Kategori Kelime Listesi -->
        <activity
            android:name=".CategoryDetailActivity"
            android:exported="false" />
            
        <!-- Flashcard (Kart Çalışması) -->
        <activity
            android:name=".FlashcardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <!-- Quiz Modu -->
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
            
        <!-- Sık Kullanılan Cümleler -->
        <activity
            android:name=".CommonSentencesActivity"
            android:exported="false" />
            
        <!-- Favori Kelimeler -->
        <activity
            android:name=".FavoritesActivity"
            android:exported="false" />
            
        <!-- İstatistikler -->
        <activity
            android:name=".StatisticsActivity"
            android:exported="false" />
            
        <!-- Ayarlar -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
            
    </application>

</manifest>
